.container
    header#overview
        .page-header
            h1 Controls
    .interface#controls
        .row.info#connection-status
            .col-xs-6
                .alert.alert-info Tap <strong>Connect</strong> to begin.
                .alert.hide.alert-error
                    i.fa.fa-times
                        |  Could not connect
                .alert.hide.alert-success
                    i.fa.fa-check-circle
                        |  Connected
            .col-xs-6
                a.btn.btn-large(href="#")#connect
                    i.fa.fa-usb
                    |  Connect
        hr
        .row
            .col-xs-6
                a.btn.btn-large(href="#")#elevator-home-btn
                    i.fa.fa-home
                    |  Home
            .col-xs-6
                a.btn.btn-large(href="#")#elevator-stop-btn
                    i.fa.fa-stop
                    |  El.Stop
		hr
        .row
            .col-xs-3
                a.btn.btn-large(href="#")#elevator-up-btn
                    i.fa.fa-angle-double-up
                    |  Up
            .col-xs-3
                a.btn.btn-large(href="#")#elevator-down-btn
                    i.fa.fa-angle-double-down
                    |  Down
            .col-xs-3
                a.btn.btn-large(href="#")#elevator-jog-up-btn
                    i.fa.fa-arrow-up
                    |  Jog Up
            .col-xs-3
                a.btn.btn-large(href="#")#elevator-jog-down-btn
                    i.fa.fa-arrow-down
                    |  Jog Down
        hr
        .row
            .col-xs-6
                a.btn.btn-large(href="#")#platform-start-btn
                    i.fa.fa-play
                    |  Start
            .col-xs-6
                a.btn.btn-large(href="#")#platform-stop-btn
                    i.fa.fa-stop
                    |  Stop

    hr

    .row.debug
        .col-xs-12
            pre#connection-log
                .item $ > Not connected to noduino!