.container
    header#overview
        .page-header
            h1 Controls
    .interface#controls
        .row.info#connection-status
            .col-xs-6
                .alert.alert-info Tap <strong>Connect</strong> to begin.
                .alert.hide.alert-danger
                    i.fa.fa-times
                        |  Could not connect
                .alert.hide.alert-success
                    i.fa.fa-check-circle
                        |  Connected
            .col-xs-6
                a.btn.btn-info.btn-lg(href="#")#connect
                    i.fa.fa-usb
                    |  Connect
        hr
        .row
            .col-xs-6
                a.btn.btn-primary.btn-lg(href="#")#elevator-home-btn
                    i.fa.fa-arrows-v &nbsp;
                    i.fa.fa-home
            .col-xs-6
                a.btn.btn-primary.btn-lg(href="#")#elevator-stop-btn
                    i.fa.fa-arrows-v &nbsp;
                    i.fa.fa-stop
        hr
        .row
            .col-xs-3
                a.btn.btn-primary.btn-lg(href="#")#elevator-up-btn
                    i.fa.fa-angle-double-up
            .col-xs-3
                a.btn.btn-primary.btn-lg(href="#")#elevator-down-btn
                    i.fa.fa-angle-double-down
            .col-xs-3
                a.btn.btn-primary.btn-lg(href="#")#elevator-jog-up-btn
                    i.fa.fa-angle-up
            .col-xs-3
                a.btn.btn-primary.btn-lg(href="#")#elevator-jog-down-btn
                    i.fa.fa-angle-down
        hr
        .row
            .col-xs-6
                a.btn.btn-info.btn-lg(href="#")#platform-start-btn
                    i.fa.fa-rotate-right &nbsp;
                    i.fa.fa-play
            .col-xs-6
                a.btn.btn-info.btn-lg(href="#")#platform-stop-btn
                    i.fa.fa-rotate-right &nbsp;
                    i.fa.fa-stop

    hr

    .row.debug
        .col-xs-12
            pre#connection-log
                .item $ > Not connected to noduino!