doctype html
html(lang="en")
    head
        title Arduino control nodeuino for JavaScript and Node.js with WebSockets and HTML5
        meta(charset="utf-8")
        meta(hnpm stattp-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
        link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="styles/main.css")
        script(type="text/javascript", src="//" + hostname + ":8090/socket.io/socket.io.js")
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            div.navbar-header
                a.navbar-brand(href="3d-scanner.html") 3D Scanner
        div!=body
        script(data-main="scripts/app." + jsApp, type="text/javascript", src="scripts/vendor/require-jquery.js")
        script(type="text/javascript", src="bower_components/bootstrap/dist/js/bootstrap.min.js")